<div class="encounter_summary">
		<p><%= encounter.time_of.strftime("%^B %d at %l:%M %P" ) %></p>
		<p>Contact: <%= encounter.full_name %></p>
		<p>Method: <%= encounter.enc_type %></p>
		<p>Topics: <%= encounter.topics.count %></p>
		<%= render 'action_links', :encounter => encounter %>
</div>