<%= link_to edit_encounter_path(encounter), class:"edit_encounter_link",
	 title:"edit encounter details" do %>
	<p id="time"><span id="type"><%= encounter.enc_type %> -> </span><%= encounter.time_of.strftime("%^B %d at %l:%M %P" ) %></p>
<% end %>
<h6><%= contact_link encounter.contact %> </h6>
<% if encounter.dialogs.any? %>
	<% encounter.dialogs.each do |d| %>
		<%= render 'dialogs/dialog', :dialog => d, :encounter => encounter %>
	<% end %>
<% end %>