<% if dialog.topic %>
	<div class="dialog contact_<%= encounter.contact_id %>" id="dialog_<%= dialog.id %>">
		<p id="time"><span id="type"><%= encounter.enc_type %> -> </span><%= dialog.time_of.strftime("%^B %d at %l:%M %P" ) %></p>
		<h6><%= contact_link encounter.contact %> </h6>
			<%= simple_format dialog.content %>
		
		<%= link_to 'edit', edit_encounter_dialog_path(encounter,dialog) %>
		<%= link_to 'delete', encounter_dialog_path(encounter,dialog), method: :delete %>
		<p><%= link_to 'View Encounter', encounter_path(dialog.encounter) %></p>
		<hr/>
	</div>
<% end %>