<!DOCTYPE html>
	<html>
		<head>
		  <title>Encounters</title>
		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
		</head>
		<body>
      <%= render 'layouts/header' %>
			<div class="container-fluid">
        <div class="row-fluid">
          <div class="span12 error_container">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>">
                <%= value %>
              </div>
            <% end %>
          </div>
        </div>
			</div>

      <% if session[:current_encounter] %>
        <h4>Current Encounter is: <%= session[:current_encounter] %></h4>
        <%= render 'encounters/encounter', :encounter => active_encounter %>
        <%= render 'dialogs/form', :dialog => Dialog.new, :encounter => active_encounter %>
      <% end %>

      <div class="row-fluid main_area">
        <% if current_user %>
          <%= render 'contacts/contact_list' %>
        <% end %>
        <div class="span10 main_content">
          <%= yield %>
        </div>
      </div>

      <div id="debug">
        <% if Rails.env.development? %>
          <%= debug(params)  %>
          <h2>Session</h2>
          <p><%= session.inspect %></p>
        <% end %>
				</div>
		</body>
	</html>
