<!DOCTYPE html>
	<html>
		<head>
		  <title>Encounters</title>
		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
		</head>
		<body>
			<%= render 'layouts/header' %>
				<% if flash[:success] %>
					<p id="success"><%= flash[:success] %></p>
				<% end %>
			<p id="notice"><%= notice %></p>
			<p id="alert"><%= alert %></p>
		<%= yield %>

		</body>
	</html>
